{% extends 'base.html.twig' %}

{% block title %}Nouvelle Formation{% endblock %}

{% block contenu %}
    <br><h1>Créer nouvelle formation</h1><br>

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste</a>
{% endblock %}
